.form-control {
  background: var(--dark-color);
}

input[type=text] {
  border:none;
  border-bottom:1px solid darkgrey ;
}

p a {
  color:#fff;
}

p.lead {
  color:#fff;   
}

.btn-primary .btn-primary:hover {
  background-color:#514525;
  border-color:#514525
}
p a:hover {
  color:#dfd8c2;
}

#footer, #footer2 {
  width: 100%;
}

#other-details .social-media a {
  margin-right: 1rem;
  color: #fff;
}

#footer3{
  background: #1E1E1C;
  text-align: center;
  color: #fff;
  margin-top: 100px;
  padding: 10px 0px;
}

#footer3 p{
 text-align: center;
 margin-top: 10px;
 font-family: 'Source Sans Pro', serif;
}

#footer3 p a{
  cursor: pointer;
  color: #007bff
}